body {
  font-family: 'Roboto Slab', serif;
  padding-left: 4rem;
  padding-right: 4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3d4449;
  font-weight: 700;
  line-height: 1.5;
}
p {
  text-align: justify;
  text-justify: inter-word;
}
.column {
  float: left;
  width: 50%;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

button {
  background-color: transparent;
  border-radius: 0.375em;
  border: 0;
  box-shadow: inset 0 0 0 2px #f56a6a;
  color: #f56a6a !important;
  cursor: pointer;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  font-size: 0.8em;
  font-weight: 700;
  height: 3.5em;
  letter-spacing: 0.075em;
  line-height: 3.5em;
  padding: 0 2.25em;
  text-align: center;
}

.title {
  margin-top: 2rem;
  display: inline-block;
}

hr {
  background-color: #f56;
  border: none;
  height: 5px;
}

.sm {
  display: inline-block;
  font-size: 25px !important;
  line-height: 1;
  color: rgb(127, 136, 143);
  margin-right: 17px;
}
.func {
  display: inline-block;
  font-size: 80px !important;
  line-height: 1;
  color: #f56;
  margin-right: 17px;
}


.icons {
  display: inline-block;
  margin-top: 4rem;
  float: right;
}

input{
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: solid 3px #f56;
  border-radius: 10px;
  font-size: 14px;
}

.overall-card {
    margin: 1rem;
    float: left;
    width: 29%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 10px;
  }

  a:hover{
      cursor: pointer;
  }

  .job-details{
    margin: 1rem;
    float: left;
    width: 29%;
    padding: 10px;
  }

  .dot {
    height: 25px;
    width: 25px;
    background-color: #f56;
    border-radius: 50%;
    display: inline-block;
  }

  .line{
    display: inline-block;
    background-color: #f56;
    height: 5px;
    width: 200px;
    margin-bottom: 8px;
    margin-right: 0;
    margin-left: 0;

  }
  .timeline-item{
    display: inline-block;
    align-content: center;
    justify-content: center;
    background-color: lightgray;
    width: 150px;
    margin: 10px;
    border-radius: 10px;

  }
  .form-outline{
    background-color: lightgray;
    width: 70%;
    padding: 20px;
    border-radius: 30px;
  }
  .package-item{
    text-align: left !important;
  }
  
  /* ADMIN PAGE */
  #customerData {
    border-collapse: collapse;
    width: 100%;
  }

  #customerData td, #customerData th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }

  #customerData tr:nth-child(even){background-color: #f2f2f2;}

  #customerData th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #F56;
    color: white;
    text-align: center;
  }

  .modal{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
  }



  